* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%; /* 10px */

  --brand-color: hsl(7, 84%, 62%);

  --background-color: hsl(0, 0%, 100%);
  --surface-color: hsl(0, 0%, 96%);
  --skeleton-color: hsl(0, 0%, 85%);
  --shape-transparency: hsl(0, 0%, 56%);

  --text-color-primary: hsl(0, 0%, 19%);
  --text-color-secondary: hsl(0, 0%, 42%);

  --font-family: "Poppins", sans-serif;
  --heading: 700 3.2rem/125% var(--font-family); /* font-weight must comes first (because of the sintax of the font shorthand) */
  --text-lg: 1.6rem/150% var(--font-family); /* font-weight: regular -> default (same for the variables below) */
  --text-md: 1.4rem/170% var(--font-family);
  --text-sm: 1.2rem/170% var(--font-family);
  --footer: 1.4rem/150% var(--font-family);
}

body,
button,
input,
textarea,
select {
  font-family: var(--font-family);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-secondary);
  font: var(--text-md);
}

.spacing-container {
  max-width: 128rem;
  padding-inline: 3.2rem;
  margin-inline: auto;
}

.bg-surface-color {
  background-color: var(--surface-color);
}
